body {
          background-image: url("../imagenes/formulario2.jpg");
          background-size: cover;
          background-attachment: fixed;
		       background-repeat:no-repeat;
}

#barranav {
  width:600px;
  margin:30px auto;
	padding:20px auto; 
}
#barranav ul{
  list-style:none;
}
#barranav ul li{
    display:inline;
    font-size:20px;
    font-family:impact;
    background-color:#136472;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:20px 20px 20px 20px;
    padding-left:10px 0px ;
    box-shadow:3px 6px 3px;
    margin:15px;
}

#barranav ul li:hover {
    background-color: #e20d0d;
}
a{
  color:#e8dd63;
  text-decoration:none;
}
h3 {
  color: #1ea077;
	margin: 20px 10px;
	font-size: 40px;
	font-weight: 900;
	letter-spacing: 3px;
	margin-top: 0;
	text-align: center;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.5), -1px 0px 2px rgba(0, 0, 0, 0.5),
		0px -1px 2px rgba(0, 0, 0, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.5);
}
h4{
  font-family:arial black;
  margin: 20px auto;
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 2px;
	margin-top: 0;
	text-align: center;
}
#formulario table{
  /*width: 700px;*/
  /*height: 650px;*/
	background: -webkit-linear-gradient(-90deg,#076b96 ,#00b2ff,#ffffff );
	border-radius: 30px;
	margin: 0px auto;
  padding: 0px auto;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
}

#btborrar {
  display: block;
	background: #fff;
	color: #000;
	border: 0;
	padding: 10px 20px;
	letter-spacing: 2px;
	font-weight: 600;
	border-radius: 5px;
	margin: 10px auto;
	cursor: pointer;
	width: 100px;
	box-shadow: inset 0 0 4px 2px black;
}

#btenviar{
	display: block;
	background: #fff;
	color: #000;
	border: 0;
	padding: 10px 20px;
	letter-spacing: 2px;
	font-weight: 600;
	border-radius: 5px;
	margin: 10px auto;
	cursor: pointer;
	width: 100px;
	box-shadow: inset 0 0 4px 2px black;
}

input{
  border: 0;
	padding: 10px 20px;
  border-radius: 50px;
	margin: 15px 10px;
	font-size: 14px;
}
